
.claim-form{
    /* text-align: center; */
    margin-bottom: 1.5rem;
    margin-top: 3rem;
}

.textcount{
    text-align: right;
    font-size: small;
    color: gray;
    margin-right: 3rem;
    margin-bottom: 2.5rem;
}

.categoty-claim{
    font-weight: bold;
    font-size: large;
    margin-left: 3rem;
}

.input-category{
    width: 9rem;
    height: 3rem;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 0.3rem;
    margin-left: 3rem;
}

.selectbox{
    width: 8rem;
    height: 3rem;
}

.subway-number{
    margin-top: 2rem;
}

.number-input{
    width: 10.5rem;
    height: 3rem;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.content{
    margin-top: 2rem;
}

.claim-content{
    width: 18rem;
    height: 10rem;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 3rem;
}