.loadingBox .circle{
    /* width: 500px;
    height: 500px;
    margin: 100px auto;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    color: aliceblue;
    line-height: 100px;
    background: no-repeat;
    background-repeat: no-repeat;
    border: 3px solid gray;
    box-shadow: 0 0 16px rgb(221,221,221);
    background-color: rgba(236, 230, 230, 0) !important;
    animation-name:spinCircle;
    animation-duration:.8s;
    animation-iteration-count:infinite; */
    position:fixed; 
    left:50%; 
    top:50%; 
    transform:translate(-50%, -50%); 
    width:500px; 
    height:500px; 
    border: 3px solid gray;
    border-top:10px solid rgb(197, 195, 195); 
    box-shadow: 0 0 16px rgb(221,221,221);
    border-radius:50em;
    animation-name:spinCircle;
    animation-duration:.8s;
    animation-iteration-count:infinite;
}


.background-bg{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;

}

.sub-content .title{
    font-size: 50px;
    -webkit-text-stroke: 2px red;
}

.sub-content .text-title{
    font-size: 20px;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    color: white

}

.sub-content{
 margin-top: 16rem;
 text-align: center; 
}

.loadingBox .lg-btn{
    margin-left: 29.5rem;
}

.sub{
    margin-top: 0.8rem;
    margin-left: 25.5rem;
    color: white;
}

@keyframes spinCircle {
    from {
        transform:translate(-50%, -50%) rotate(0);
    }
    to {
        transform:translate(-50%, -50%) rotate(360deg);
    }
}