.MuiOutlinedInput-input {
    padding: 0.5rem 0.4rem !important;
}

.MuiOutlinedInput-root{
    width: 16.5rem;
}

.searchIcon{
    height: 5.5rem;
}

.searchinput{
    width: 100%;
}

.search{
    position: fixed;
    z-index: 2 !important;
    background-color: white;
    /* top:60px; */
    width: 373.4px;
}

.preview1{
    width: 70%;
    min-height: 50px;
    background-color: white;
    position: absolute;
    /* bottom: 1%; */
    /* top:0.1%; */
    z-index: 2;
    margin-left: 3rem;
    border: 0.5px solid gray;
}

.preview1 .MuiList-padding{
    padding: 0;
}

.preview1 .MuiListItem-dense{
    padding-top: 0;
    padding-bottom: 0;
}


.preview2{
    width: 70%;
    min-height: 50px;
    background-color: white;
    position: absolute;
    /* bottom: 1%; */
    /* top:0.1%; */
    z-index: 2;
    margin-left: 3rem;
    border: 0.5px solid gray;
}

.preview2 .MuiList-padding{
    padding: 0;
}

.preview2 .MuiListItem-dense{
    padding-top: 0;
    padding-bottom: 0;
}