.MuiOutlinedInput-input {
    padding: 0.5rem 0.4rem !important;
}

.MuiOutlinedInput-root{
    width: 16.4rem;
}

.searchIcon{
    height: 5.5rem;
}

.searchinput{
    width: 100%;
}

.search{
    position: fixed;
    z-index: 2 !important;
    background-color: white;
    /* top:60px; */
}
