.subway-wrapper{
    width: 100%;
    padding-top: 100px;
}

.subway{
    position: relative;
    overflow: scroll;
    padding-bottom: 10%;
    /* overflow-y:hidden; */
    height: 600px;
    /* margin-bottom: 50px; */
    /* overflow-x:scroll; */
    /* white-space:nowrap; */
}

.img{
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    max-width: 100%; 
    height: auto;
    z-index: 0 !important;
}